# Este es el archivo raíz de configuración
root = true

# Aplicar a todos los archivos
[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = space
indent_size = 4

# Reglas específicas para archivos C#
[*.cs]
# Convenciones de formato de .NET
dotnet_style_qualification_for_field = false
dotnet_style_qualification_for_property = false
dotnet_style_qualification_for_method = false
dotnet_style_qualification_for_event = false

# Usar var cuando el tipo es aparente
csharp_style_var_for_built_in_types = true
csharp_style_var_when_type_is_apparent = true

# Preferir llaves en la misma línea
csharp_new_line_before_open_brace = all

# Organizar los 'usings'
csharp_using_directive_placement = inside_namespace
